* {
	font-family: 'Alegreya Sans', sans-serif;
}
.container {
	width: 800px;
	height: 90vh;
	padding: 20px 30px;
	padding-bottom: 20px;
	margin: 0 auto;
	background-color: #f5eee6;
}

.header-image-wrapper {
	border-radius: 20px 20px 0 0;
	width: 100%;
	overflow: hidden;
	height: 250px;
	display: flex;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	background-color: #f3d7ca;
}
.header-image {
	object-fit: cover;
	width: 100%;
	border-radius: 20px;
	border-radius: 20px 20px 0 0;
	/* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	 */
}
.navigation {
	display: flex;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
	padding: 15px 20px;
	background-color: #e6a4b4;
	border-radius: 0 0 20px 20px;
	justify-content: space-between;
	gap: 10px;
}

.navigation-item {
	display: flex;
	justify-content: center;
	width: 90px;
	border-radius: 16px;
	cursor: pointer;
	transition: ease-in-out 0.3s;
}
.navigation-item:hover {
	transform: scale(1.2);
	border-radius: 16px;
	background-color: aliceblue;
}
.button-time {
	margin-top: 40px;
	display: flex;
	width: 100%;
	margin-bottom: 20px;
}
.button-time-btn {
	animation: fadeIn 0.3s linear;
	border: none;
	border-radius: 16px;
	cursor: pointer;
	padding: 20px;
	height: 100%;
	width: 100%;
	font-size: 25px;
	letter-spacing: 1.5px;
	background-color: #c86b85;
	color: white;
	font-weight: 600;
	transition: ease-in-out 0.3s;
}
.button-time-btn:hover {
	filter: brightness(110%);
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
		rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.title {
	width: 100%;
	display: flex;
	justify-content: center;
	font-size: 26px;
	line-height: 28px;
	font-weight: bold;
	letter-spacing: 1.4px;
	margin-bottom: 30px;
	color: #f7a2b7;
}
.social-media {
	justify-content: center;
	display: flex;
	gap: 30px;
}
.social-media-img {
	cursor: pointer;
	border-radius: 12px;
	border: 2px solid #f79eb4;
	display: flex;
	gap: 15px;
	padding: 10px 48px;
	align-items: center;
	background-color: #c86b85;
	transition: transform 200ms;
}
.social-media-img:hover {
	transform: scale(1.02);
}

.mes-title {
	font-size: 23px;
	color: white;
	letter-spacing: 1px;
	font-weight: bold;
}
.active-switch {
	background-color: aliceblue;
}
.content_switch {
	display: none;
}
.content-switch-visible {
	display: block;
	animation: fadeIn 0.3s;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.service-wrapper {
	display: flex;
	gap: 15px;
	border: 1px solid #f79eb4;
	border-radius: 12px;
	background-color: white;
	padding: 5px 0;
	justify-content: space-around;
	width: 100%;
	margin-bottom: 20px;
}
.service-item {
	letter-spacing: 1.5px;
	cursor: pointer;
	color: #fd85a3;
	font-size: 18px;
	padding: 10px 30px;
	transition: all 0.3s;
	border-radius: 6px;
}
.service-item:hover {
	color: white;
	background-color: #f79eb4;
}
.service-date-wrapper {
	min-height: 350px;
}
.service-date-time {
	padding: 13px 10px;
	border-radius: 12px;
	background-color: #e6a4b4;
}
.service-description {
	text-align: center;
	font-weight: 600;
	font-size: 19px;
	padding-bottom: 5px;
	border-bottom: 2px solid white;
	color: white;
}
.service-time-picker {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
	margin-top: 10px;
}

.service-time-item {
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	width: 40px;
	border-radius: 6px;
	padding: 5px;
	background-color: white;
	transition: all 0.3s;
}
.service-time-item:hover {
	background-color: #c86b85;
	color: white;
}

.service-date-day {
	border-radius: 12px;
	background-color: #e6a4b4;
}
.service-date-day {
	padding: 13px 10px;
}
.service-date-day-picker {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-top: 10px;
	justify-content: center;
}
.service-day-item {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	width: 120px;
	border-radius: 6px;
	padding: 5px;
	color: #fd5a83;
	line-height: 20px;
	letter-spacing: 1.5px;
	background-color: white;
	transition: all 0.3s;
}
.service-day-item:hover {
	background-color: #c86b85;
	color: white;
}
.swiper-slide {
	display: flex !important;
	height: 240px !important;
	width: 296px !important;
	border-radius: 16px;
	overflow: hidden;
}
.swiper-slide img {
	object-fit: cover !important;
	height: 240px !important;
	width: 296px !important;
}
